---
title: false
styles: true
---

@import "alembic";

.typeset hr {
  padding-bottom: 1rem!important;
  padding-top: 1rem!important;
}

.typeset blockquote {
  padding: 1rem 1rem 1rem 2rem!important;
}

ul {
  padding-left: 1rem!important;
}

.typeset blockquote p {
  margin-bottom: 0;
}

.typeset blockquote ul {
  padding-left: 2rem!important;
  border-left: 0.15rem solid #05bf85;
  font-style: italic;
}

.typeset small {
  line-height: 1.5rem;
}

.typeset .nav a {
  margin-left: 0.5rem!important;
  margin-right: 0.5rem!important;
}

.nav a {
  padding: 0.5rem!important;
}

.icon {
  width: 2em!important;
  height: 2em!important;
}

.toc-entry {
  list-style: none;
}

.aside {
  opacity: 1;
  @media (max-width: 640px) {
    display: none;
  }
}

.typeset table {
  margin-bottom: 0.6272158824rem!important;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
th,
td {
  padding: 6px 15px;
}
th {
  background: #42444e;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

/*a hover color #008000*/
